 /*#### COFIGURAÇÃO DA DIV CLASS CONTANIER ####*/
  .contanier{
    border-radius: 1em;
    background: url(..//images/pattern-2rb.png) bottom center no-repeat pink;
    margin-top: 4em;
    margin: 0 auto;
  }


   /*#### COFIGURAÇÃO DA DIV CLASS GRID ####*/
   .grid{
    border-radius: 2em;
    display: grid;
    grid-gap: 3vw;
    grid-row-gap:6vw ;
    grid-template-rows: 16vw;
    grid-auto-rows: 14vw;
    grid-template-columns:  repeat(4, 1fr);
   
  
  }

   /*#### COFIGURAÇÃO DAS DIVIS DA DIV CLASS GRID  ####*/
  .grid > div{
    border-radius: 2em;
  
  }
  

   /*#### COFIGURAÇÃO DAS IMAGENS DA CLASS IMG ####*/
  .img{ 
    filter: contrast(180%);
     border-radius: 2em;
      width: 100%;
      height: 200px;
  }
  


  /*#### COFIGURAÇÃO DO FIGURE ####*/
  figure {
    border-radius: 2em;
    border: 1px solid wheat;
    padding: 4px;
    margin: auto;
  }
  


   /*#### COFIGURAÇÃO DO FIGCAPTION ####*/
  figcaption {
    text-shadow: 2px 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2em;
    color: black;
    font-style: italic;
    text-align: center;
  }


